

.widget.widget-stats {
    position: relative;
}
.widget {
    margin-bottom: 20px;
    color: #fff;
}
.media-messaging .media, .widget {
    padding: 15px;
}
.result-list > li, .widget {
    border-radius: 3px;
    overflow: hidden;
}
.bg-green {
    background: #00acac !important;
}

.widget-stats .stats-progress {
    background: url(../img/transparent/black-0.2.png);
    background: rgba(0,0,0,.2);
    height: 2px;
    margin: 0 -15px 12px;
}
.progress {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #e2e7eb;
}
.widget-stats .stats-icon.stats-icon-lg {
    font-size: 52px;
    top: 12px;
    right: 21px;
}
.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .2;
    filter: alpha(opacity=20);
}
.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.widget-stats .stats-desc {
    font-weight: 300;
    margin-bottom: 0;
}
.bg-blue {
    background: #348fe2 !important;
}
.bg-purple {
    background: #727cb6 !important;
}
.bg-black {
    background: #2d353c !important;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

:focus {
    outline: none;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.datepicker {z-index: 1151 !important;}
/*
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to

    -> position:absolute

    and uncomment the code below.
    You also need to uncomment

    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/
.brand-name-wrapper{
   height: 150px;
   clear-after: bottom;

}
.side-menu {
    position: fixed;
    width: 17%;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
    border: none;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon{
    padding-right: 10px;
}
.side-menu .navbar-nav li a .fa {
    padding-right: 10px;
}
.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
    float: right;
}
.side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
    min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}
.side-menu #search {
    position: relative;
    z-index: 1000;
}
.side-menu #search .panel-body {
    padding: 0;
}
.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}
.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}
/* Main body section */
.side-body {
    float: right;
    width:83%;
}

.side-body .header-cont {
    width:100%;
    position:fixed;
    top:0;
    height: 50px;
    background-color: #f8f8f8;
}

.side-body .profile{
    margin-top: 10px;
    margin-right: 20%;
    float: right;
}

.side-body .content{
    margin-top: 20px;
    padding:20px 5px 0 5px;
}

.logout{
    position: fixed;
    bottom: 0;
    display: block;
    width: 300px;
    padding: 15px;
    border-top: 1px solid #e7e7e7;


}
.logout a{
    padding:15px;

}
/* # Tables
================================================== */
.table {
    margin-bottom: 5px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #fafafa;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}
.table-bordered,
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child,
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.table-highlight-head thead {
    background-color: #f5f5f5;
}
.table-no-inner-border tr th,
.table-no-inner-border tr td {
    border-left-width: 0px;
}
.table-no-inner-border tr th:first-child,
.table-no-inner-border tr td:first-child {
    border-left-width: 1px !important;
}
.panel-content.no-padding table {
    margin-bottom: 0 !important;
}
.panel-content.no-padding .table-bordered {
    border: 0;
}
.panel-content.no-padding .table-bordered th:first-child,
.panel-content.no-padding .table-bordered td:first-child {
    border-left: 0;
}
.panel-content.no-padding .table-bordered th:last-child,
.panel-content.no-padding .table-bordered td:last-child {
    border-right: 0;
}
.panel-content.no-padding .table-bordered tr:last-child td {
    border-bottom: 0;
}
.table .align-center {
    text-align: center;
}
/* * * * * * * * * * * *
 * Table Footer
 * * * * * * * * * * * */
.table-footer {
    padding: 12px;
}
.table-footer .table-actions label {
    margin-right: 10px;
    display: inline-block;
}
.table-footer .table-actions select {
    width: 180px;
    height: 30px;
    margin-top: -1px;
    margin-bottom: 0;
}
.table-footer .pagination {
    float: right;
    margin: 0;
}
.table-footer:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.panel-content.no-padding .table-footer {
    border-top: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding-left: 0;
    padding-right: 0;
}
.panel:not(.box) .panel-content .table-footer {
    border: 1px solid #dddddd;
    border-top: none;
    margin-top: -5px;
}
.panel.box .panel-content:not(.no-padding) .table-footer {
    border: none;
    background-color: none;
    padding: 8px 0;
    padding-bottom: 3px;
}
/* * * * * * * * * * * *
 * Pagination
 * * * * * * * * * * * */
.pagination {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
    color: #006600;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #006600;
    border-color: #3c5a74;
}

/* * * * * * * * * * * *
 * Checkable Table
 * * * * * * * * * * * */
.table-checkable .checkbox-column {
    text-align: center;
    width: 24px;
}
.table-checkable .checkbox-column div.checker {
    margin-right: 0;
}
.table-checkable.table-no-inner-border .checkbox-column {
    border-right: 1px solid #dddddd;
}
.table-checkable tbody tr.checked td {
    background-color: rgba(147, 175, 236, 0.13);
}
/* * * * * * * * * * * *
 * Table Controls
 * * * * * * * * * * * */
.table-controls {
    padding: 0;
    margin: 0;
    list-style: none;
}
.table-controls > li {
    display: inline-block;
    margin: 0 2px;
    line-height: 1;
}
.table-controls > li > a {
    display: inline-block;
}
.table-controls > li > a i {
    margin: 0;
    font-size: 13px;
    color: #555555;
    display: block;
}
.table-controls > li > a i:hover {
    text-decoration: none;
}
/* * * * * * * * * * * *
 * Progressbars in Tables
 * * * * * * * * * * * */
.table .progress {
    margin-bottom: 0;
}
/* * * * * * * * * * * *
 * Others
 * * * * * * * * * * * */
.table-vertical-align tr,
.table-vertical-align th,
.table-vertical-align td {
    vertical-align: middle !important;
}
.form-actions{
    margin-top:10px;
    border-top:1px solid #ccc;
    padding:20px;
}


/* small screen */
@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #e7e7e7;
    }
   .brand-name-wrapper .navbar-brand {
        display: inline-block;
        height: 150px;
        position: fixed;
        background-color: #FFFFFF;
        z-index: 3;

   }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 193px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 200px;
        width:100%;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-body .content{
        margin:0;
        padding: 0;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }

}
